<div>
    <a [routerLink]="['/']">
        <app-button color='green' text='Home'>
        </app-button>
    </a>
</div>
<div class="container">
    <h3 class="title">{{ news.title }}</h3>
    <div class="date"><small>{{ news.date }}</small></div>
     <hr><br>
    <div class="text-body">
        {{ news.details }}
    </div> <br>
    <div *ngIf='isLogin'>
        <form (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="comment">Comment</label>
                <div class="addcomment">
                    <input type="text" name="comment" [(ngModel)]="comment" id="comment" placeholder="Add Comment" />
                    <app-button color='green' text='Comment'></app-button>
                </div>
            </div>
        </form>
    </div><br>
    <div *ngFor="let comment of news.comment" class="container-comment">
        <div><b>{{ comment.username }}</b> <br>
            <small>{{comment.time}}</small>
        </div>
        <div class="text">{{ comment.text }}</div><hr>
    </div>
</div>
