<header>
    <h1>{{ title }}</h1>
    <div *ngIf="hasRoute('/')">
        <form (ngSubmit)="onSubmit()">
            <div>
                <input type="text" name="search" [(ngModel)]="search" id="search" placeholder="search news" />
                <app-button color='green' text='search'></app-button>
            </div>
        </form>
    </div>
    <div *ngIf = "isLogedIn(); else login">
        <div class="row">
            <div  *ngIf="isAdmin && hasRoute('/')"><app-button color="{{ showAddNews ? 'red' : 'green' }}"
                text="{{ showAddNews ? 'Close' : 'Add News' }}" (btnClick)="toogleAddNews()"></app-button>
            </div>
            
            <div>
                <a [routerLink]="['/']">
                    <app-button color='red' text='Logout' (btnClick)="logOut()"></app-button>
                </a>
            </div>  
        </div>
    </div>
    <ng-template #login>
        <div>
            <a [routerLink]="['/login']" *ngIf="hasNotRoute('/login')">
                <app-button color='green' text='login'>
                </app-button>
            </a>
            <a [routerLink]="['/register']" *ngIf="hasNotRoute('/register')">
                <app-button color='green' text='Register'>
                </app-button>
            </a>
        </div>
    </ng-template>
</header>

 