<app-header></app-header>
<div>
    <a [routerLink]="['/']">
        <app-button color='green' text='Home'>
        </app-button>
    </a>
</div>
<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="username">User Name</label>
        <input type="text" name="username" [(ngModel)]="username" id="username" placeholder="User Name" />
    </div>
    <div class="form-control">
        <label for="password">Enter Password</label>
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password" />
    </div>
    <input type="submit" value="Login" class="btn btn-block" />
</form>